<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.dao.MemberDao">
    <!--Oauth를 통한 로그인 - 존재하는 회원인지 확인-->
    <select id="getMembersRecord" resultType="membersRecord">
        SELECT mul_total, mul_win, mul_lose, single_best_4, single_cnt_4 FROM baseball.members_records WHERE id = #{id};
    </select>
</mapper>